body{ 
    width: 80vw; 
    margin: auto; 
}
/* seletor de id */

#artigos{
    background-color: aquamarine;
    display: flex;
}

#meushobbies{
    background-color: aqua;
}

#minhacarreira{
    background-color: greenyellow;
}


